%p #{@instructor.name} 様

%p 下記のレッスンに予約が入りました。ご確認ください。

%p =====================================================

%p= @booking.lesson_name
%p 講師：#{@booking.instructor_name}
%p 言語：#{@booking.lesson_language}
%p 日時：#{l(@booking.start_at)} 〜 #{l(@booking.end_at)}

%p =====================================================

%p 予約者情報
%p 名前：#{@user.name}
%p メールアドレス：#{@user.email}

%p =====================================================

%p 何かご不明な点がございましたら、お気軽にお問い合わせください。
