%h1.fs-2.mb-4 講師詳細

.row.justify-content-center
  .col-lg-8
    .card
      .card-body
        .fs-5.card-title= @instructor.name
        .card-text
          %strong メールアドレス:
          = @instructor.email

        .card-text
          %strong 自己紹介:
        .card-text.border.p-3.bg-light= @instructor.introduction

        %hr

        .row
          .col-6
            .mb-1
              %strong 登録日:
              = l(@instructor.created_at)
          .col-6
            .mb-1
              %strong 最終ログイン:
              - if @instructor.last_sign_in_at.present?
                = l(@instructor.last_sign_in_at)

        .row
          .col-6
            .mb-1
              %strong ログイン回数:
              = @instructor.sign_in_count
          .col-6
            .mb-1
              %strong アカウント状態:
              - if @instructor.confirmed_at
                %span.badge.bg-success 確認済み
              - else
                %span.badge.bg-warning 未確認

    .d-flex.gap-2.mt-4.justify-content-between
      = link_to '編集', edit_administrators_instructor_path(@instructor), class: 'btn btn-primary'
      = button_to 'この講師でログインする', administrators_instructor_impersonation_path(@instructor), class: 'btn btn-outline-success', data: { turbo_confirm: 'この講師としてログインしますか？' }
      .ms-auto
        = button_to '削除', administrators_instructor_path(@instructor), method: :delete, data: { turbo_confirm: '本当にこの講師を削除しますか？' }, class: 'btn btn-danger'
