%h1.fs-2.mb-4 レッスン一覧

= simple_form_for(@q, url: lessons_path, method: :get) do |f|
  = f.input :language_eq, collection: Lesson.language.options, include_blank: '全ての言語', label: '言語'
  = f.button :submit, '検索', class: 'btn-primary'

.row
  - @lessons.each do |lesson|
    .col-md-3.mb-4
      .card.is-lesson
        = link_to lesson_path(lesson), class: 'text-decoration-none text-body' do
          .card-body
            %h2.card-title.fs-4= lesson.name
            %p.card-text= truncate(lesson.description, length: 30)
            .card-text= lesson.language_text
