%h1.fs-2.mb-4 購入詳細
.row.justify-content-center
  .col-8
    %dl.row
      %dt.col-3 チケット種別
      %dd.col-9= @purchase.ticket_type.text

      %dt.col-3 小計
      %dd.col-9= number_to_currency(@purchase.subtotal)

      %dt.col-3 税額
      %dd.col-9= number_to_currency(@purchase.tax_amount)

      %dt.col-3 購入日時
      %dd.col-9
        - if @purchase.paid?
          = l(@purchase.created_at)
          %span.bg-success.text-white.p-1.rounded 支払い済
        - else
          %span.bg-secondary.text-white.p-1.rounded 未払い

      %dt.col-3 合計金額
      %dd.col-9= number_to_currency(@purchase.total_amount)

    = button_to '支払いステータスを更新する', administrators_purchase_path(@purchase),
                                          method: :put, data: { turbo_confirm: '支払いステータスを更新しますか？' },
                                          disabled: @purchase.paid?,
                                          class: 'btn btn-outline-danger mt-3'
