.sidebar.is-instructor
  = link_to '講師: Asia Language', instructors_root_path ,class: 'sidebar__logo'
  - if administrator_signed_in?
    .alert.alert-warning.m-3
      管理者で代理ログイン中
      = button_to 'なりすましログインを終了', administrators_instructor_impersonation_path(current_instructor), method: :delete, data: { turbo_confirm: '管理者に戻ります、よろしいですか？' }, class: 'btn btn-outline-secondary'
  %ul.sidebar__list
    %li= link_to 'レッスン一覧', instructors_lessons_path, class: 'sidebar__list-link'
  - if instructor_signed_in?
    .p-2
      .mb-3= link_to current_instructor.email, instructors_profile_path
      = button_to 'ログアウト', destroy_instructor_session_path, method: :delete, data: { turbo_confirm: 'ログアウトします、よろしいですか？' }, class: 'btn btn-danger'
